div {
  position: relative;
  right: -80px;
  bottom: 20px;
}
span {
  position: relative;
  right: -48px;
}
h1 {
  color: coral;
  font-family: "Dancing Script", cursive;
  font-family: "Pacifico", cursive;
  position: relative;
  font-size: 36px;
  left: 10px;
  top: 10px;
}

h2,
h3 {
  font-size: 26px;
  position: relative;
  left: 60px;
  top: 20px;
}
h2 {
  color: navy;
  position: relative;
  left: 100px;
}
ul {
  list-style: none;
  position: relative;
  left: 30px;
  bottom: 20px;
  text-align: left;
}
.box {
  display: inline-block;
  vertical-align: middle;
  margin: 24px auto;
  height: 450px;
  width: 800px;
  border: 2px solid coral;
  background-image: url("https://images.ctfassets.net/hrltx12pl8hq/1DauLWsEwcnLf4NpCUMxxZ/85290d98239ff0bbee9803932249c444/weather-shutterstock_1716559711.jpg?fit=fill&w=1024&h=683&fm=webp");
}
h4 {
  position: relative;

  right: -130px;
  bottom: 20px;
}

input,
button {
  position: relative;
  right: -10px;
}

body {
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
